body {
  font-family: sans-serif;
}

main {
  max-width: 1280px;
  margin: auto;
}

input:not([type="submit"]) {
  border: none;
  border-bottom: 1px solid gray;
  width: 100%;
}

input[type="submit"] {
  padding: 10px 25px;
  border: none;
  border-radius: 100px;
  margin: auto;
  cursor: pointer;
  background: green;
  color: white;
}

input, textarea {
  display: block;
  margin-bottom: 50px;
  margin-top: 20px;
}

textarea {
  width: 100%;
  min-height: 150px;
  resize: none;
  font-family: sans-serif;
}

label {
  display: block;
  color: gray;
}